<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="[% settings.charset %]">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <title>[% title %]</title>
  <link rel="stylesheet" href="[% request.uri_base %]/css/style.css">
  <link rel="stylesheet" href="[% request.uri_base %]/css/mermaid.css">
  <script type="text/javascript" src="[% request.uri_base %]/js/util.js"></script>
  <script type="text/javascript" src="[% request.uri_base %]/js/jquery.js"></script>
  <script type="text/javascript" src="[% request.uri_base %]/js/gridjs.umd.js"></script>
</head>
<body>
  [% PROCESS _includes.tmpl %]
  [% INCLUDE pageHeader %]
  [% content %]
  [% INCLUDE pageFooter %]
</body>
</html>
