body {
   margin: 0;
   margin-bottom: 25px;
   margin-left: 25px;
   padding: 0;
   background-color: #ddd;
   font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana";
   font-size: 13px;
   color: #333;
}

h1 {
   font-size: 28px;
   color: #000;
}

a  {
   color: #03c;
   text-decoration: none;
}

table, th, td { border: 1px solid black; }

td {
   text-align: center;
   width: 150px;
}

td span {
   padding: 1px 10px 3px 10px;
   vertical-align: top;
}

#footer {
   clear: both;
   padding-top: 2em;
   text-align: center;
   padding-right: 160px;
   font-family: sans-serif;
   font-size: 10px;
}


/* ==========================================================================
   PIE CHART ICONS
   ========================================================================== */
.pie-chart-icon {
   position: relative;
   display: inline-block;
   width: 18px;
   height: 18px;
   border-radius: 50%;
}

.pie-chart-icon::before {                                                                                                                                             position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-size: 12px;
   color: #333;
}

.pie-chart-icon {
   margin-left: 20px;
}
